@import "tailwindcss";
@plugin "daisyui";

a.active {
  background: #00000011;
}

#banner {
  height: 70vmin; /* Set your desired height */
  border-radius: 10px;
  cursor: grab;
}

@media (max-width: 576px) {
  #banner {
    height: 25vh;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
